
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>New Messages</h1>
<p>This is a new <em>important</em> message</p>
<p><b>C#</b></p>
