
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Hi @ViewBag.Name</h2>
<h2>The Goal is @ViewBag.Secret % concntration to become a software Developer</h2>
